<html>
   <head>
      <title> Таблица и график функции </title>
   </head>
   <body>
   <form>
 <p>Функция:
 <!-- создаем поле со списком для выбора: функция 1, функция 2, функция 3 -->
 <select name=func>
 {% for i in range(0,3) %}
 <!-- если номер варианта совпадает со значением i, устанавливаем
 атрибут selected
 атрибут value для каждой строки будет совпадать с i -->
 {% if n_var == i %}
 <option selected value={{i}}> {{list_f[i]}} </option>
 {% else %}
 <option value={{i}}> {{list_f[i]}} </option>
 {% endif %}
 {% endfor %}
 </select></p>
 <p>Начало интервала: <input type=text name=beg_i value={{a}} size=1></p>
 <p>Конец интервала: <input type=text name=end_i value={{b}} size=1></p>
 <p>Количество значений: <input type=text name=count_p value={{n}} size=1></p>
       {% if n_var == 0 %}
            <p><b>y(x)=x<sup>3</sup>-6x<sup>2</sup>+x+5</b></p>
       {% endif %}
       {% if n_var == 1 %}
            <p><b>y(x)=x<sup>2</sup>-5x+1</b></p>
       {% endif %}
       {% if n_var == 2 %}
            <p><b>y(x)=1/(x<sup>2</sup>+1)</b></p>
       {% endif %}
 <p><input type=submit value="Построить"></p>
 </form>
      <table style="    display: inline-block;">
         <tr>
            <th>x</th>
            <th>f(x)</th>
         </tr>
         <tbody>
            {% for i in range(len(x[0])) %}
            <tr>
               <td>{{ round(x[0][i]*10000)/10000 }}</td>
               <td>{{ round(y[0][i]*10000)/10000 }}</td>
            </tr>
            {% endfor %}
         </tbody>
      </table>
   <img style="position: absolute" src={{pict}}></img>
   </body>
</html>